.input {
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
  border: 1px solid rebeccapurple;
  font-size: 1.5rem;

  &.error {
    color: #9e646c;
    border-color: #dcd0d1;
    background-color: #fff7f8;
  }

  &:focus {
    outline: none;
    border-width: 2px;
  }
}
