.login {
  margin: 0 auto;
  width: 50vw;

  .title {
    margin-bottom: 3rem;
    text-align: center;
    color: rebeccapurple;
  }

  .loginForm {
    display: flex;
    flex-direction: column;
  }
}
