.errorsCcontainer {
  margin: 2rem auto 0;
  width: 50%;
  border: 1px solid #dcd0d1;
  border-radius: 0.4rem;
  background-color: #fff7f8;
  color: #9e646c;
  font-size: 1.2rem;

  li {
    margin-bottom: 0.8rem;
  }
}
